<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
<br>
<br>

                <h2 class="text-uppercase section-heading">NUESTROS LOCALES</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 portfolio-item">
                <iframe class="img-fluid img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.8564603746877!2d-77.02880548518667!3d-12.121972091417227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8d1280591b9%3A0xc6f844b06b3e4d56!2sCasa%20Andina%20Premium%20Miraflores!5e0!3m2!1ses-419!2spe!4v1623600653297!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="portfolio-caption">
                    <h4>Sama Healthy Express</h4>
                    <p class="text-muted"><strong><em>Teléfono: (01) 2134300</em><br></strong></p>
                    <p class="text-muted">Av. La Paz 463, Miraflores</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.8564603746877!2d-77.02880548518667!3d-12.121972091417227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8d1280591b9%3A0xc6f844b06b3e4d56!2sCasa%20Andina%20Premium%20Miraflores!5e0!3m2!1ses-419!2spe!4v1623600653297!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="portfolio-caption">
                    <h4>Sama Healthy Express</h4>
                    <p class="text-muted"><strong><em>Teléfono (01) 4167500</em><br></strong></p>
                    <p class="text-muted">Calle Schell 452, Miraflores</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.8564603746877!2d-77.02880548518667!3d-12.121972091417227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8d1280591b9%3A0xc6f844b06b3e4d56!2sCasa%20Andina%20Premium%20Miraflores!5e0!3m2!1ses-419!2spe!4v1623600653297!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="portfolio-caption">
                    <h4>Sama Healthy Express</h4>
                    <p class="text-muted"><strong><em>Teléfono: (01) 3916500</em><br></strong></p>
                    <p class="text-muted">Amador Reyna 320 San Isidro</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.8564603746877!2d-77.02880548518667!3d-12.121972091417227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8d1280591b9%3A0xc6f844b06b3e4d56!2sCasa%20Andina%20Premium%20Miraflores!5e0!3m2!1ses-419!2spe!4v1623600653297!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    
                </a>
                <div class="portfolio-caption">
                    <h4>Sama Healthy Express</h4>
                    <p class="text-muted"><strong><em>Teléfono: (01) 4470263</em><br></strong></p>
                    <p class="text-muted">Av. Petit Thouars 5444, Miraflores</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid img-fluid" src="assets/img/proyects/proyect-Thomas.jpg"></a>
                <div class="portfolio-caption">
                    <h4>Sama Healthy Express</h4>
                    <p class="text-muted"><strong><em>Teléfono: (01) 2414050</em><br></strong></p>
                    <p class="text-muted">Av 28 de Julio 1088, Miraflores</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/proyects/proyect-Timber.jpg"></a>
                <div class="portfolio-caption">
                    <h4>Sama Healthy Express</h4>
                    <p class="text-muted"><strong><em>Teléfono: (084) 232610</em><br></strong></p>
                    <p class="text-muted">Plazoleta Limacpampa Chico</p>
                </div>
            </div>
        </div>
    </div>
</section>