<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
<br>
<br>

                <h2 class="text-uppercase section-heading">NUESTROS LOCALES</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 portfolio-item">
                <iframe class="img-fluid img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.8564603746877!2d-77.02880548518667!3d-12.121972091417227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8d1280591b9%3A0xc6f844b06b3e4d56!2sCasa%20Andina%20Premium%20Miraflores!5e0!3m2!1ses-419!2spe!4v1623600653297!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="portfolio-caption">
                    <h4>Sama Healthy Express</h4>
                    <p class="text-muted"><strong><em>Teléfono: (01) 2134300</em><br></strong></p>
                    <p class="text-muted">Av. La Paz 463, Miraflores</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <iframe class="img-fluid img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.836401547902!2d-77.02948468530053!3d-12.12334374663031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c81be6b3f65d%3A0xbd41fb98ca89df33!2sCasa%20Andina%20Select%20Miraflores!5e0!3m2!1ses-419!2spe!4v1623627286812!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>              
                <div class="portfolio-caption">
                    <h4>Sama Healthy Express</h4>
                    <p class="text-muted"><strong><em>Teléfono (01) 4167500</em><br></strong></p>
                    <p class="text-muted">Calle Schell 452, Miraflores</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <iframe class="img-fluid img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.2840531722786!2d-77.03000848530104!3d-12.092696146048802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c93cfcad21eb%3A0xc26b6bde92627836!2sCasa%20Andina%20Premium%20San%20Isidro!5e0!3m2!1ses-419!2spe!4v1623627437724!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>              
                <div class="portfolio-caption">
                    <h4>Sama Healthy Express</h4>
                    <p class="text-muted"><strong><em>Teléfono: (01) 3916500</em><br></strong></p>
                    <p class="text-muted">Amador Reyna 320 San Isidro</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <iframe class="img-fluid img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.9195928562012!2d-77.03048268518674!3d-12.117653991420102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c86b32d4f881%3A0x50e30d03113da25f!2sCasa%20Andina%20Standard%20Miraflores%20Centro!5e0!3m2!1ses-419!2spe!4v1623627700444!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                    
                </a>
                <div class="portfolio-caption">
                    <h4>Sama Healthy Express</h4>
                    <p class="text-muted"><strong><em>Teléfono: (01) 4470263</em><br></strong></p>
                    <p class="text-muted">Av. Petit Thouars 5444, Miraflores</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <iframe class="img-fluid img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.7373363315996!2d-77.02392868530048!3d-12.130115746759014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b7f2b08a9a29%3A0xfdbcc1dac7a58062!2sCasa%20Andina%20Standard%20Miraflores%20San%20Antonio!5e0!3m2!1ses-419!2spe!4v1623627785116!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                    
                </a>
                <div class="portfolio-caption">
                    <h4>Sama Healthy Express</h4>
                    <p class="text-muted"><strong><em>Teléfono: (01) 2414050</em><br></strong></p>
                    <p class="text-muted">Av 28 de Julio 1088, Miraflores</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <iframe class="img-fluid img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.266223109705!2d-71.97693968517214!3d-13.519246990498251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd60b3c898ee1%3A0xe9b456294f3f3451!2sCasa%20Andina%20Premium%20Cusco!5e0!3m2!1ses-419!2spe!4v1623627890377!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                    
                </a>
                <div class="portfolio-caption">
                    <h4>Sama Healthy Express</h4>
                    <p class="text-muted"><strong><em>Teléfono: (084) 232610</em><br></strong></p>
                    <p class="text-muted">Plazoleta Limacpampa Chico</p>
                </div>
            </div>
        </div>
    </div>
</section>
