#hero{
    background-image: url('/assets/img/backgrounds/nosotros1.jpeg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 200px;
    min-height: 900px;
    color: #ffffff;
    }

  .content-center{
      max-width: 800px; 
      margin: 0 auto 60px auto;
      text-align: center;
     }
  .portafolio-container{
        position: relative;
        overflow: hidden;
        filter: grayscale(1%);
        margin: 10px 0;
        border-radius: 2px;
      }
   img{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

   p{font-size: 20px; 
      color: #ffffff;
      min-height: 1.8; 
      margin-bottom: 20px;
    } 