<section id="portfolio" id="carta" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br><br>
                <h2 class="text-uppercase section-heading">NUESTRA CARTA</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/carta/carta1.jpeg"></a>
                <div class="portfolio-caption">
                    <h4>Roast Beef</h4>
                    <p class="text-muted"><strong><em>Precio S/. 16.00</em><br></strong></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/carta/carta2.jpeg"></a>
                <div class="portfolio-caption">
                    <h4>Pavo Criollo Full</h4>
                    <p class="text-muted"><strong><em>Precio S/. 18.00</em><br></strong></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/carta/carta3.jpeg"></a>
                <div class="portfolio-caption">
                    <h4>Pollo Grillado Full</h4>
                    <p class="text-muted"><strong><em>Precio S/. 20.00</em><br></strong></p>
                 </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/carta/carta4.jpeg"></a>
                <div class="portfolio-caption">
                    <h4>Omellethe de Claras</h4>
                    <p class="text-muted"><strong><em>Precio S/. 16.00</em><br></strong></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid img-fluid" src="assets/img/carta/carta5.jpeg"></a>
                <div class="portfolio-caption">
                    <h4>Tostón con Jamon</h4>
                    <p class="text-muted"><strong><em>Precio S/. 16.00</em><br></strong></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/carta/carta6.jpeg"></a>
                <div class="portfolio-caption">
                    <h4>Salmón Bowl</h4>
                    <p class="text-muted"><strong><em>Precio S/. 28.00</em><br></strong></p>
                </div>
            </div>
        </div>
    </div>
</section>