

<section id="portfolio" id="carta" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br><br>
                <h2 class="text-uppercase section-heading">NUESTRA CARTA</h2>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let p of projects"  class="col-sm-6 col-md-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="xxx"></a>
                <div class="portfolio-caption">
                    <h4>xxx</h4>
                    <p class="text-muted"><strong><em>xx</em><br></strong></p>
                </div>
            </div>
        </div>
    </div>
</section>