.logo-brand{

    min-width: 80px;
    max-width: 80px;
    
    }

    section {
        padding: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }