<section id= "hero">
  <div class="container">
     <div class="content-center">
       <h1> SAMA</h1>
       <p>Somos una propuesta diferente, saludable y única. Sama Healthy Express es tu mejor opción. </p>
    </div>
 </div>
</section>

<section id="portafolio">
<div class= "container-fluid">
  <div class="content-center">
    <h2> Momentos para Disfrutar</h2>
    <p>solo con nostros tendras los mejores alimentos</p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="portafolio-container">
         <div class="portafolio-details">
           <a href="#">
            <h2>Momentos</h2>
           </a>
           <a href="#">
            <p>Donde hay comida la risa suena mejor </p>
           </a> 
         </div>
         <img src="/assets/img/backgrounds/pagina1.jpg" class="img-fluid" alt="portafolio 1 ">
      </div>
    </div>

    <div class="col-md-6">
      <div class="portafolio-container">
         <div class="portafolio-details">
           <a href="#">
            <h2>Momentos</h2>
           </a>
           <a href="#">
            <p>Donde la mejor red social es una mesa llena de buena comida y rodeada de personas que quieres. </p>
           </a> 
         </div>
         <img src="/assets/img/backgrounds/pagina2.jpg" class="img-fluid" alt="portafolio 2 ">
      </div>
    </div>      
 </div>
</div>
</section>