
<section id="portfolio" id="carta" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br><br>
                <h2 class="text-uppercase section-heading">NUESTRA CARTA</h2>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let c of categorias" class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/cartavariedades/{{ c.idcategoria }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="{{ c.urlimagen }}"></a>
                <div class="portfolio-caption">
                    <h4>{{ c.nombre }}</h4>

                </div>
            </div>
        </div>
    </div>
</section>
