
  <div class="container"style= "padding-top: 120px;">
    
      <div class="page-about_title">
       <h2 class="col-lg-12 text-center">Nosotros</h2>
       <div class="desc">
        <p>Sama Restaurante Café, es tu opción diferente con estilo contemporáneo donde encontrarás una propuesta variada de platos deliciosos, saludables y únicos. Tu mejor alternativa para disfrutar de un delicioso desayuno y un sabroso almuerzo en un ambiente acogedor y cómodo.</p>
       </div> 
       </div>
    </div>
 

