<section id= "hero">
  <div class="container">
      <div class= "container-fluid">
        <div class="portafolio-details">
          <h2> Sobre Nosotros</h2>      
          <p>En Sama somos conscientes de la necesidad de conectar, y asumimos con humildad el gran reto de conocer y re-conocer este hermoso país plagado de insumos únicos, de paisajes, de cultura y tradiciones, de historias pero, sobre todo, de aquellos que las viven y las narran.</p>
          <p>Nuestro equipo colaborativo trabaja arduamente por generar nexos, e intentar hacer visibles elementos que, en la vida cotidiana, no pueden ser vistos por todos. La expedición que emprendimos nuestro inicio no tiene destino ni final, sino que se centra en el constante movimiento, en la observación y el respeto de la temporalidad y la estacionalidad que la tierra nos dicta.</p>
        </div>
      </div>
    </div>

      <div class= "container-fluid">
         <div class="row">
          <div class="col-md-4">
          <img src="/assets/img/backgrounds/pagina1.jpg" class="img-fluid" alt="portafolio 1 ">
         </div>

         <div class="col-md-4">
          <img src="/assets/img/backgrounds/nosotros5.jpeg" class="img-fluid" alt="portafolio 2 ">
         </div>

         <div class="col-md-4">
          <img src="/assets/img/backgrounds/nosotros6.jpeg" class="img-fluid" alt="portafolio 3 ">
         </div>

        </div>     
     </div>
</section> 